<html>
  <head>
    <title>Comedians</title>
  </head>
  <body>
    <% @comedians.each do |comedian| %>
      <p>Name: <%= comedian.name %></p>
      <p>Age: <%= comedian.age %></p>
      <p>Specials:</p>
        <ul>
          <% comedian.specials.each do |special| %>
            <li><%= special.name %></li>
          <% end %>
        </ul>
      <p>Special Count: <%= comedian.special_count %></p>
    <% end %>
    <p>Average-age: <%= @comedians.avg_age %></p>
  </body>
</html>
